#parse ("templates/webitem.vm")
<footer id="footer" class="refapp-footer">
    <section class="footer-body">
        <ul>
            <li> Atlassian RefApp $version </li>
            #set($items = $webInterfaceManager.getDisplayableWebItems("footer.links", $context))
            #foreach($item in $items)
              <li>#webitem($item, $context)</li>
            #end
            #webpanels("footer.links", $context)
        </ul>
        #webpanels("atl.footer", $context)
    </section>
</footer>

